# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\hbeda\Documents\COPR Georgian\Fall2020\Comp1011 Java3\Assignments\UFOTracker_A1_200443133\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
